:root {
  --bg-main: #1d97c8;
  --text-secondary: #5e5c5c;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  font-family: "Roboto", system-ui;
}

h1,
h2,
h3 {
  font-family: "Playfair Display", serif;
  font-weight: normal;
  font-size: 2rem;
}

ul {
  list-style-type: none;
}

/*HEADER*/

.about {
  padding: 32px;
  background: linear-gradient(160deg, var(--bg-main) 50%, #fff 50%);
}

.about__body {
  & h2 {
    text-align: center;

    & ~ p {
      color: var(--text-secondary);
      line-height: 1.5;
    }
  }

  & picture {
    display: flex;
    height: 400px;
    margin-bottom: 16px;
    position: relative;
    align-items: flex-end;
    box-shadow: 0 0 10px #6a6969;
  }
}

.title {
  font-weight: bold;
  z-index: 1;
  margin: 16px;
  font-size: 3rem;
  color: #fff;
  font-weight: normal;
  text-shadow: 2px 2px 5px #504e4e;
}

.about__img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.social-links {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-top: 16px;
}

.link-icon {
  width: 25px;
  height: 25px;
}

@media (width >= 500px) {
  .about {
    display: flex;
    justify-content: center;

    & .social-links {
      display: none;
    }
  }

  .about__body {
    box-shadow: 3px 3px 10px #aaa;
    background-color: #fff;
    width: 100%;
    height: 450px;
    margin-top: 100px;
    margin-left: 75px;
    padding: 72px 16px;

    & h2 {
      margin-bottom: 16px;
    }

    & picture {
      float: left;
      margin: -150px 16px 8px -75px;
      margin-top: -140px;
      margin-left: -75px;
      display: block;
      position: relative;
      width: 350px;
      height: 350px;
    }

    .title {
      position: absolute;
      right: -250px;
      top: -15px;
    }
  }
}

/*MAIN*/

main {
  padding: 64px 32px 128px 32px;

  & h2 {
    text-align: center;
    margin-bottom: 16px;
    font-size: 2rem;
    font-weight: normal;
  }
}

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  place-items: center;
  gap: 64px 32px;
}

.project {
  display: flex;
  flex-direction: column;
  border: 1px solid #cfcfcf;
  box-shadow: 2px 2px 5px #cfcfcf;
  max-width: 350px;
  height: 450px;

  & header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
    padding-left: 16px;

    & h3 {
      font-weight: normal;
      font-size: 1.25rem;
    }
  }

  & p {
    color: var(--text-secondary);
  }
}

.project__options {
  display: flex;
  gap: 16px;
  float: right;
}

.project__screenshot {
  height: 60%;
  background-color: #578157;
  display: flex;
  justify-content: center;
  align-items: center;

  & span {
    color: #fff;
    font-size: 2rem;
    font-family: "Pairfair Display", serif;
  }
}

.project__info {
  padding: 16px;
}

@media (width >= 500px) {
  main h2 {
    text-align: left;
  }
}

/*FOOTER*/

footer {
  background-color: var(--bg-main);
  color: #fff;

  & .social-links {
    gap: 32px;
  }
}

.cta {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 64px;

  & h2 {
    text-align: center;
  }

  & .link-icon {
    width: 40px;
    height: 40px;
  }
}

.footer-img {
  background-image: url(assets/placeholder.webp);
  min-width: 350px;
  width: 100%;
  height: 500px;
  background-size: cover;
  background-position: center;
}

.address-icon {
  width: 25px;
  height: 25px;
}

small:has(.address-icon) {
  display: flex;
  align-items: center;
  gap: 8px;
}

@media (width >= 500px) {
  footer {
    display: flex;
    gap: 16px;
    padding: 32px;
  }

  .cta {
    & h2 {
      text-align: left;
    }

    & .social-links {
      justify-content: flex-start;
    }
  }

  .footer-img {
    flex: 1;
    max-height: 350px;
  }
}
