:root {
  --bg-main: #2ea0cd;
  --text-secondary: #8c8c8c;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  font-family: "Roboto", system-ui;
}

h1,
h2,
h3 {
  font-family: "Playfair Display", serif;
  font-weight: normal;
  font-size: 2rem;
}

ul {
  list-style-type: none;
}

/*HEADER*/

.about {
  padding: 16px;
  background: linear-gradient(160deg, var(--bg-main) 50%, #fff 50%);

  & h2 {
    text-align: center;

    & ~ p {
      color: var(--text-secondary);
      line-height: 1.5;
    }
  }
}

picture {
  display: flex;
  height: 400px;
  overflow: hidden;
  margin-bottom: 16px;
  position: relative;
  align-items: flex-end;

  h1 {
    position: relative;
    font-weight: bold;
    z-index: 1;
    margin: 16px;
  }
}

.header-img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-shadow: 0 0 5px #cfcfcf;
}

.social-links {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.link-icon {
  width: 25px;
  height: 25px;
}

/*MAIN*/

main {
  padding: 16px;

  & h2 {
    text-align: center;
    margin-bottom: 16px;
    font-size: 2rem;
    font-weight: normal;
  }
}

.projects {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.project {
  display: flex;
  flex-direction: column;
  border: 1px solid #cfcfcf;
  box-shadow: 2px 2px 5px #cfcfcf;
  max-width: 500px;
  height: 450px;

  & header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
    padding-left: 16px;

    & h3 {
      font-weight: normal;
      font-size: 1.25rem;
    }
  }

  & p {
    color: var(--text-secondary);
  }
}

.options {
  display: flex;
  gap: 16px;
  float: right;
}

.screenshot {
  height: 60%;
  background-color: #578157;
  display: flex;
  justify-content: center;
  align-items: center;

  & span {
    color: #fff;
    font-size: 2rem;
    font-family: "Pairfair Display", serif;
  }
}

.project-info {
  padding: 16px;
}
